<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingjiahe.www.dao.RegionMapper">
  <resultMap id="BaseResultMap" type="com.xingjiahe.www.po.Region">
    <id column="region_id" jdbcType="SMALLINT" property="regionId" />
    <result column="parent_id" jdbcType="SMALLINT" property="parentId" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
    <result column="region_level" jdbcType="BIT" property="regionLevel" />
  </resultMap>
  <sql id="Base_Column_List">
    region_id, parent_id, region_name, region_level
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from region_info
    where region_id = #{regionId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from region_info
    where region_id = #{regionId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.xingjiahe.www.po.Region">
    insert into region_info (region_id, parent_id, region_name, 
      region_level)
    values (#{regionId,jdbcType=SMALLINT}, #{parentId,jdbcType=SMALLINT}, #{regionName,jdbcType=VARCHAR}, 
      #{regionLevel,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.xingjiahe.www.po.Region">
    insert into region_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="regionId != null">
        region_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="regionName != null">
        region_name,
      </if>
      <if test="regionLevel != null">
        region_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="regionId != null">
        #{regionId,jdbcType=SMALLINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=SMALLINT},
      </if>
      <if test="regionName != null">
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="regionLevel != null">
        #{regionLevel,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xingjiahe.www.po.Region">
    update region_info
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=SMALLINT},
      </if>
      <if test="regionName != null">
        region_name = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="regionLevel != null">
        region_level = #{regionLevel,jdbcType=BIT},
      </if>
    </set>
    where region_id = #{regionId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xingjiahe.www.po.Region">
    update region_info
    set parent_id = #{parentId,jdbcType=SMALLINT},
      region_name = #{regionName,jdbcType=VARCHAR},
      region_level = #{regionLevel,jdbcType=BIT}
    where region_id = #{regionId,jdbcType=SMALLINT}
  </update>
</mapper>